<!DOCTYPE html>
<html ng-app="demoApp">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Demo news application</title>

    <!-- Bootstrap core CSS -->
    <link href="node_modules/startbootstrap-blog-home/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="node_modules/startbootstrap-blog-home/css/blog-home.css" rel="stylesheet">

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">Demo news application</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>

<!-- Page Content -->
<div class="container" ng-controller="newsController as news">

    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-8">

            <h1 class="my-4">Demo page by Mateusz Lagod</h1>

            <!-- Blog Post -->
            <div class="card mb-4" ng-repeat="entry in news.localNews.articles | filter: searchPattern">
                <img class="card-img-top" src="{{entry.imageUrl}}" alt="Card image cap" ng-show="entry.imageUrl != null">
                <div class="card-body">
                    <h2 class="card-title">{{entry.title}}</h2>
                    <p class="card-text">{{entry.description}}</p>
                    <p class="card-text">Autor: {{entry.author}}</p>
                    <a href="{{entry.articleUrl}}" class="btn btn-primary">Czytaj dalej</a>
                </div>
                <div class="card-footer text-muted">
                    Posted on {{entry.date}} by
                    <a href="http://{{entry.sourceName}}">{{entry.sourceName}}</a>
                </div>
            </div>

            <!-- Pagination -->
           <ul class="pagination justify-content-center mb-4">
                <li class="page-item">
                    <a class="page-link" href="#">&larr; Older</a>
                </li>
                <li class="page-item disabled">
                    <a class="page-link" href="#">Newer &rarr;</a>
                </li>
            </ul>

        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

            <!-- Search Widget -->
            <div class="card my-4">
                <h5 class="card-header">Search</h5>
                <div class="card-body">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for..." ng-model="searchPattern">
                        <span class="input-group-btn">
                  <button class="btn btn-secondary" type="button">Go!</button>
                </span>
                    </div>
                </div>
            </div>

            <!-- Categories Widget -->
            <div class="card my-4">
                <h5 class="card-header">Categories</h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="list-unstyled mb-0">
                                <li>
                                    <a href="#" ng-click="news.getNews('business')">business</a>
                                </li>
                                <li>
                                    <a href="#" ng-click="news.getNews('entertainment')">entertainment</a>
                                </li>
                                <li>
                                    <a href="#" ng-click="news.getNews('health')">health</a>
                                </li>
                                <li>
                                    <a href="#" ng-click="news.getNews('science')">science</a>
                                </li>
                                <li>
                                    <a href="#" ng-click="news.getNews('sport')">sport</a>
                                </li>
                                <li>
                                    <a href="#" ng-click="news.getNews('technology')">technology</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->

<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2018</p>
    </div>
    <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="node_modules/startbootstrap-blog-home/vendor/jquery/jquery.min.js"></script>
<script src="node_modules/startbootstrap-blog-home/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<script type="text/javascript" src="node_modules/angular/angular.js"></script>

<!-- Angular controllers -->
<script type="text/javascript" src="javascript/app.js"></script>
<script type="text/javascript" src="javascript/controllers/newsCtrl.js"></script>

</body>

</html>